@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  min-width: 100vw;
  min-height: 100vh;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Content{
  min-height: 550px;
  min-width: 550px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.header{
  width: 100%;
  height: 55px;
  background: linear-gradient(to right , #672280,#A626D3) ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.text{
  width: 100%;
  height: 2px;
  /* background-color: #672280; */
  display: flex;
  flex-direction: row;
  font-size: 12px;
  align-items: center;
  font-weight: 500;
  justify-content: space-around;
}
.text .one{
  transform: translate(-190%,30%);
}
.text .two{
  transform: translate(-70%,30%);
}
.inputDIV{
  width: 100%;
  height: 150px;
  /* background-color: orange ; */
  padding: 20px 36.5px 0 36.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.input , .inputBTN{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40%;
  /* background-color: yellow; */
}
.input{
  justify-content: space-between;
  align-items: center;
}
.input input  ,   .inputBTN button{
  background-color: transparent;
  width: 222px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  border: 1px solid gainsboro;
  font-weight: 500;
}
.input input{
  padding-left: 10px;
}
.inputBTN button{
  width: 100%;
  height: 40px;
  background: linear-gradient(to right, #672280, #A626D3);
}

.outputBox{
  width: 477px;
  min-height: 300px;
  height: auto;
  margin-left: 36.5px;
  margin-top: 10px;
  /* padding-left: 36.5px; */
  padding-top: 20px;
  overflow: hidden;
  display: flex;
  /* background-color: green; */
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 20px;
}
.outputBox img{
  /* text-align: center; */
  width: 100%;
  padding-left: 36.5px;
  width: 100%;
  background-position: center;
}

.UpperTXT , .LowerTXT{
  position: fixed;
  font-weight: 800;
  font-size: 28px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.UpperTXT{
  position: absolute;
  z-index: 100;
  /* top: -5% ; */
  /* left : -50% */
  top: 5%;
}

.LowerTXT{
  position: absolute ;
  z-index: 100;
  bottom: 5%;
}

