.App {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 350px;
    height: 500px;
    /* background-color: lightseagreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid lightblue;
    box-shadow: 3px 3px 5px black;
}