@media screen and (width < 768px) {
    .partners > .centeredDiv > h1{
        font-size: 5vw;
    }
    .partners>.centeredDiv>p {
        font-size: 3vw;
    }

    .CP{
        flex-direction: column;
        padding: 10px 0 !important;
    }
    .title_partner{
        width: 100%;
        padding: 25px 10px !important;
        /* background-color: yellow; */
    }
    .partners{
        width: 100%;
        /* background-color: rebeccapurple; */
        gap: 10px;
    }

    .partner{
        border: 3px solid;
    }

    .partner{
        /* background-color: yellow; */
        width: 150px;
    }
    .partners{
        justify-content: space-between;
    }
}