/* @tailwind base ;
@tailwind components ;
@tailwind utilities ; */

@import "tailwindcss";



@font-face {
    font-family: 'Founders';
    src: url('./Resources/FoundersGrotesk-Semibold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue';
    src: url('./Resources/NeueMontreal-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}